$primary-color-black: #000;
$secondary-color-white: #fff;
$transparent-background: rgba(255, 255, 255, 0.5);
$main-font: 'Oswald', sans-serif;
$title-font:  'Playfair Display SC', serif;

@mixin border($val){
    @if $val == light {
        border: 2.5px solid $primary-color-black;
    }
    @else if $val == thick {
        border: 5px solid $primary-color-black;
    }
}

body{
    height: 100vh;
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    box-sizing: border-box;
}

#app{
    display: grid;
    text-align:center;
    // margin: 0 auto;
    color: $primary-color-black;
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.27em;
    font-family: $main-font;
} 

#container {
    text-align: center;
    display: grid;
}
.holder{
    margin: 0 auto;
} 

.title{
    border-bottom: 5px solid $primary-color-black;
    padding: 0.2em;
    color:$primary-color-black;
    font-family: $title-font;
    font-weight: 700;
    font-size: 1em;
}

.entry{
    background: $transparent-background;
    width: 600px;
    height: 100%;
    @include border(thick);
}

.headline{
    font-size: 2.5em;
    font-family: $title-font;
    color: $primary-color-black;
    border-bottom: 5px solid $primary-color-black;
    font-weight: 900;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

input{
    display:block;
    height: 3em;
    width: 21em;
    background: $transparent-background;
    color: $primary-color-black;
    font-size: 1em;
    font-family: $main-font;
    @include border(light);
    // margin: 0 auto;
    padding-left: 10px;
    margin-bottom: 1%;
}

button{
    width: 17em;
    margin-top: 2%;
    padding: 3% 0;
    background: $primary-color-black;
    color: $secondary-color-white;
    font-size: 1.3em;
    font-family: $main-font;
    @include border(light);
    transition: all 0.2s;
}

.trip-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#image{
    width: 100%;
    height: 50%;
}

img{
    width: 100%;
    height: 100%;
}

#info{
    width: 100%;
    height: 40%;
}

#info p{
    margin: 0;
    text-align: left;
    padding-left: 15px;
    font-size: 1em;
}

button:hover{
    background: $secondary-color-white;
    color:$primary-color-black;
    @include border(light);
    cursor:pointer;
}

#error{
    color: rgb(88, 3, 3);
    background-color: rgb(248, 151, 175);
}

#iconIMG{
    width: 10%;

}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: $primary-color-black;
    font-family: $main-font;
    padding-left: 1px;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: $primary-color-black;
    font-family: $main-font;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: $primary-color-black;
    font-family: $main-font;
}

@media only screen and (min-width: 1650px){
    body{
        height: 100vh;
    }
    #app {
        display: block;
    } 
    .date{
        align-self: end;
    }
    #container{
        margin: 0 auto;
        padding: 30px 0;
        justify-content: center;
        display: block;
    }

    button{
        height: 66px;
        width: 420px;
        margin-top: 0px;
        padding: 0 0;
        align-self: end;
        justify-self: center
    }

    .headline {
        padding-bottom: 10px;
    }

    .holder{
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    .entry{
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .title{
        font-size:1.5em;
    }
    input{
        margin-right: 15px;
        
    }
    .trip-area{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    #image{

        width: 40%;
        height: 100%;
    }
    img{

        width: 100%;
        height: 100%;
    }
    
    #info{

        width: 60%;
        height: 100%;
    }
    #info p{
        font-size: 1.2em;
    }
}